body {

   font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
   line-height: 1.35;
}

a {
  color: #000;
}

a:hover {
  color: #000;
  text-decoration: none;
}

.navbar-brand {
  width: 140px;
}

.navbar-brand img {
  width: 100%;
}

.nav-item {
  text-align: center;
  margin: 0 7px;
}

.nav-link {
  color: #000;
}

.projects-title, .about-title {
  min-height: 140px;
  padding: 35px 10px 15px;
}

.projects-title-desc h2, .about-title-desc h2 {
  text-align: center;
  font-weight: bold;
}

.other-orange-text, .title-line-orange {
  color: #fc4c02;
}

.projects-items {
  padding-top: 15px;
}

.youtube-frame {}

.about-card-img {
  max-width: 135px;
  //height: 115px;
  background-color: #fff;
}

.card-text {
  font-size: 1.05rem;

  text-align: justify;
}

.card-left img {}

.about-desc {
  padding: 20px;
}

.youtube-online-wrapper {
  padding: 15px;
}

.about-card {
  margin-bottom: 15px;
}

.about-card .row:first-child {
  height: 100%;
}

.card-orange {
  background-color: #ff773dcf;
  color: #000;
}

.card-grey {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
}

.card-right-circle {
  width: 100%;
  height: 100%;
  //border-radius: 100%;
  background-color: #fff;
}

.about-card-orange {
  //border: 2px solid #ff773dcf;
  border: none;
}

.about-card-grey {
  border: 2px solid #444;
  border: none;
}

.about-coverage-desc {
  //border-left: 2px solid #ff773dcf;
  font-size: 1.2rem;
  text-align: justify;
  line-height: 1.7;
}

.about-coverage-title,  .about-cabel-chanel {
  padding: 25px 0;
  text-align: center;
}

.about-coverage-title h2, .about-cabel-chanel h2{
  font-weight: bold;
}

.about-static-map img {
  width: 100%;
}

.contact-img img {
  width: 100%;
}

.contact-img {
  width: 55px;
  margin-right: 30px;
}

#projects .card {
  border: none;
  margin-bottom: 10px;
}

#map {
  height: 400px;
}

.contact-item {
  margin-bottom: 22px;
}

.contact-info p {
  margin: 0;
  font-weight: bold;
  text-align: center;
  font-size: 1.2rem;
line-height: 1.3;
}

.contact-info {
  padding-left: 30px;
  width: 51%;
}

.contact-title h2 {
  text-align: center;
  font-weight: bold;
  padding: 10px 10px 30px;
}

.ticker-title, .ticker-fixed-title {
  background-color: #2f2f2f;
  color: #fff;
  margin: 15px 0 25px;
  overflow: hidden;
  opacity: 0.8;
}

.ticker-title h2, .ticker-fixed-title h2{
  text-align: center;
  font-weight: bold;
  padding: 3px;
  text-transform: none;
}

.sm-icon {
  width: 45px;
  margin: 0 25px;
}

.sm-icon img {
  width: 100%;
}

.social-media {
  margin-top: 40px;
}

.phone-news {
  /* background-color: #fc4c02; */
}

.youtube-icon {
  padding-top: 5px;
}

textarea {
  resize: none;
}

footer {
  margin-top: 30px;
  border-top: 2px solid #4d4d4d;
  height: 80px;
}

.footer-text {
  color: #000;
  padding: 20px;
  font-weight: bold;
}

.bg-black {
  background-color: #000;
}

.navbar-brand {
  padding-top: 12px;
  padding-bottom: 12px;
}

h2 {
  /*font-family: 'Lora', serif;*/
  text-transform: uppercase;
  font-size: 1.8rem;
}

.projects-title-desc, .about-title-desc {
  margin-top: 15px;
}

.about-title-this-img {
  margin: 25px 0;
}

.about-title-this-img img {
  width: 95%;
  max-width: 377px;
}

.about-title-this-word {
  /*font-family: 'Noto Sans SC', sans-serif;*/
  margin: 0;
  font-weight: bold;
  font-size: 2.8rem;
}

.ticker-rule a {
  color: #007bff;
  text-decoration: underline;
  padding-right: 10px;
}

.checkbox-ticker {
  padding-left: 20px;
}

.ticker-btn {
  width: 150px;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
    background-color: #fc4c02;
    height: 66px;
    border-radius: 100%;
}

.back-to-top span{
  height: 100%;

}


.back-to-top img{
  padding-bottom: 4px;

}


.ticker-fixed{
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  opacity: 0.7;

}

.ticker-fixed h2{
  font-size: 1.3rem;
  margin: 0;
}

.cabel-operator-logo img{
  width: 100%;
  //max-width: 120px;
  padding: 15px;
}

.cabel-operator-chanel p{
  /* font-size: 1.4rem; */
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

.cabel-operator-chanel{
  height: 100px;
  /* border-radius: 5px; */

}

.cabel-chanel{
  margin-bottom: 20px;
}
/* .chanel-item:not(:first-child){
  border-left: 3px solid #4d4d4d;
} */

.cabel-wrapper{
  /* border:2px solid #ff773dcf;
  border-radius: 4px; */
  margin: 20px 0 0;

}

.chanel-item{
  //min-height: 90px;
  margin-bottom: 0;
  border: none;
}

.cabel-chanel-txt{
  font-size: 0.9rem;
  letter-spacing: 0.7px;
}

.cabel-chanel-txt-num{
  font-size: 3.5rem;
  line-height: 0.9;
}

.border-top-bottom-orange{
  border-top: 3px solid #fc4c02;
  border-bottom: 3px solid #fc4c02;

}

.border-top-bottom-grey{
  border-top: 3px solid #444;
  border-bottom: 3px solid #444;

}

.swiper-wrapper{
  padding: 0;
}

.swiper-pagination-bullet-active {

    opacity: 1;
    background: #fc4c02;

}


@media screen and (max-width: 1200px) {
  .contact-info {
      padding-left: 10px;
    width: 67%;
  }

}

@media screen and (max-width: 992px) {
  .about-coverage-desc {

      font-size: 1.05rem;

      line-height: 1.4;
  }

  .contact-info {
      padding-left: 0;
    width: 67%;
  }
  .chanel-item:not(:first-child){
    border: none;
  }

  .chanel-item{

  margin-bottom: 40px;

}

}

@media screen and (max-width: 768px) {
  #map {
    height: 200px;
  }

  .map-col {
    margin-top: 30px;
  }

  .contact-info {
    padding-left: 20px;
    width: 50%;
  }

    .about-coverage-desc {

      font-size: 1.1rem;

      line-height: 1.6;
      margin-top: 25px;
  }
}



  @media screen and (max-width: 576px) {
    .about-coverage-desc {
      padding: 1.25rem;
      font-size: 1.05rem;
      margin: 0;
      line-height: 1.4;
    }

    .mobile-title-background {
      position: relative;
      margin-top: 15px;
      padding: 0 5px;
    }

    .mobile-title-background img {
      width: 100%;
    }

    .about-title-desc {
      position: absolute;
      top: 25px;
      left: 0;
      /* background-color:  #fc4c02; */
      /* background-image: url(../img/tvheadbg2.jpg); */
      /* background-position: top -150px;
    background-size: cover;
    background-repeat: no-repeat; */
      background-color: #fff7;
      padding: 0;
    }

    .about-title {
      /* background-color: #fdfdfd; */
      border-top: 2px solid #4d4d4d;
      padding-bottom: 0;
    }

    .about-title, .projects-title {
      padding-top: 0;
      //border-top: 2px solid #4d4d4d;
      //margin-top: 10px;
    }

    .about-title-desc h2 {
      /*font-family: 'Lora', serif;*/
      text-transform: uppercase;
      font-size: 2rem;
      /* color: #f2f2f2; */
      color: #000;
      letter-spacing: 1px;
    }


    .projects-title-desc h2 {
      font-size: 1.5rem;
    }

    .ticker-title h2 {
      font-size: 1.5rem;
    }

    .contact-title h2 {
      padding: 10px 10px 20px;
    }

    .contact-info {
        padding-left: 0;

    }

    .cabel-wrapper{
      margin-top: 0;

    }

    .about-cabel-chanel{
      padding: 0 0 15px;
    }
  }

@media screen and (max-width: 450px) {
  .contact-info {
    padding-left: 0;
    width: 61%;
  }
  .about-title-desc h2 {

    letter-spacing: 0;
  }

}
